<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="loginForm" (ngSubmit)="enviar()">
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Direccion de correo:</ion-label>
        <ion-input formControlName="userEmail" type="email" autocapitalize="off" aria-autocomplete="off" autocorrect="off"></ion-input>
      </ion-item>
      <ion-item *ngIf="loginFormValidator.userEmail.empty">
        <ion-label text-wrap color="danger">{{loginFormValidator.userEmail.empty}}</ion-label>
      </ion-item>
      <ion-item *ngIf="loginFormValidator.userEmail.email">
        <ion-label text-wrap color="danger">{{loginFormValidator.userEmail.email}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Contaseña</ion-label>
        <ion-input formControlName="userPassword" type="password" autocapitalize="off" aria-autocomplete="off" autocorrect="off"></ion-input>
      </ion-item>
    </ion-list>
    <ion-item *ngIf="loginFormValidator.userPassword.empty">
      <ion-label text-wrap color="danger">{{loginFormValidator.userPassword.empty}}</ion-label>
    </ion-item>
    <ion-button type="submit" color="light" expanded="full">Ingresar</ion-button>
  </form>
</ion-content>
